<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
    data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Document</title>
    <meta name="description" content="" />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/pages/page-auth.css" />
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>
    <!-- <script src="../assets/js/config.js"></script> -->
    <script src="/assets/vendor/js/menu.js"></script>
    <!-- bootstrap 5 -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- Content -->

    <div class="container">
        <div class="authentication-wrapper authentication-basic">
            <div class="col-3"></div>
            <div class="authentication-inner">
                <!-- Register -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a href="" class="app-brand-link gap-2">
                                <span class="app-brand-logo demo">
                                    <img src="/assets/Logo2.png" alt="" style="height: 65px; width: 110.11px">
                                </span>
                            </a>
                        </div>
                        {{#if messages.message}}
                        <div id="flash-alert" class="alert alert-{{messages.type}} alert-dismissible fade show"
                            role="alert">
                            <strong>{{messages.type}}!</strong> {{messages.message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            </button>
                        </div>
                        {{/if}}
                        <!-- /Logo -->
                        <h4 class="mb-2">Set Your Password? 🔒</h4>
                        <p class="mb-4">Enter your password and newpassword to reset your password</p>
                        <form id="formAuthentication" class="mb-3" method="POST">
                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">Password</label>
                                </div>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="inputPassword" class="form-control" name="password"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                        aria-describedby="password" />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">Confirm New Password</label>
                                </div>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="inputPassword" class="form-control" name="cpassword"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                        aria-describedby="password" />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /Register -->
            </div>
            <div class="col-3 p-5" style="height: 100vh">
                <div class="right-0 text-end mb-2"><strong>Xin chào {{user.fullName}}!</strong></div>
                <div class=" d-md-flex justify-content-md-end"><a href="/login" class="text-white"><button
                            class="btn btn-primary right-0">Logout</button></a></div>
            </div>
        </div>

    </div>
    <script src="../assets/js/main.js"></script>

</body>
<script>
    setTimeout(() => {
        $('#flash-alert').fadeOut(5000)
        $('#passport-alert').fadeOut(5000)
    }, 5000);
</script>

</html>