<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo d-flex justify-content-center">
        <a href="/admin/home" class="app-brand-link" class="menu-item" id="homeIcon">
            <span class="app-brand-logo demo">
                <img src="/assets/Logo2.png" alt="" style="height: 65px">
            </span>
        </a>
    </div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item" id="home">
            <a href="/admin/home" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>
        <!-- Maneger -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Manage</span></li>
        <!-- Employee -->
        <li class="menu-item" id="employees">
            <a href="/admin/employees" class="menu-link">
                <i class="menu-icon tf-icons bx bx-table"></i>
                <div data-i18n="Tables">Employee</div>
            </a>
        </li>
        <!-- Customer -->
        <li class="menu-item" id="customers">
            <a href="/admin/customers" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div data-i18n="Tables">Customer</div>
            </a>
        </li>
        {{!-- products --}}
        <li class="menu-item" id="products">
            <a href="/admin/products" class="menu-link">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Tables">Product</div>
            </a>
        </li>
        {{!-- <li class="menu-item">
            <a href="/admin/merchandises" class="menu-link">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Tables">Merchandise</div>
            </a>
        </li> --}}

        {{!-- statistic --}}
        <li class="menu-item" id="statistic">
            <a href="/admin/statistic" class="menu-link">
                <i class="menu-icon tf-icons bx bx-line-chart"></i>
                <div data-i18n="Tables">Statistic</div>
            </a>
        </li>
        {{!-- Account Manager --}}
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Account</span>
        </li>
        <li class="menu-item" id="profile">
            <a href="/admin/profile" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-user-account"></i>
                <div data-i18n="Basic">Profile</div>
            </a>
        </li>
        {{!-- <li class="menu-item">
            <a href="changepassword" class="menu-link">
                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                <div data-i18n="Basic">Change Password</div>
            </a>
        </li> --}}
    </ul>
</aside>